body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url(./assets/beach.png) no-repeat center center fixed;
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.weather-app {
  text-align: center;
  background-color: rgba(58, 63, 71, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #282c34;
}

button:hover {
  background-color: #21a1f1;
}

.weather-details {
  margin-top: 20px;
}

.city-info {
  margin-bottom: 10px;
}

.city-name {
  font-size: 20px;
  font-weight: bold;
}

.city-temp {
  font-size: 36px;
}

.temp-value {
  font-weight: bold;
}

.humidity-details {
  margin-top: 10px;
}

.humidity-details p {
  margin: 5px 0;
}
